<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ckane.colorsorting">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/color_flash_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/color_flash_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.games.APP_ID"
            android:value="@string/application_id" />

        <activity
            android:name=".android.activity.levels.ChallengeMode"
            android:screenOrientation="portrait"
            android:theme="@style/AppFullScreenTheme" />
        <activity
            android:name=".android.activity.MenuActivity"
            android:label="@string/title_activity_menu"
            android:screenOrientation="portrait"
            android:theme="@style/AppFullScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".android.activity.EndGame"
            android:theme="@style/AppFullScreenTheme" />
        <activity
            android:name=".android.activity.HighScoreActivity"
            android:theme="@style/AppFullScreenTheme" />
        <activity
            android:name=".android.activity.DifficultyPickerActivity"
            android:theme="@style/AppFullScreenTheme" />
        <activity android:name=".android.activity.PowerUpStore" />
    </application>

</manifest>